.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090; 
    opacity: 0;
    z-index: -1;   
}

.modal.active {
    opacity: 1;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background: #ffffff;
    box-shadow: 1px 1px 10px #000000;
}

.modal-close {
    display: block;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center; 
    user-select: none;
    cursor: pointer;   
}

.modal-close:hover {
    background: #FF4949;
    color: #ffffff;
}

.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.modal-header h1 {
    margin: 0 auto;
    width: 100%;
}

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-field {
    height: 40px;
    width: calc(50% - 10px);
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px #000000;
    padding: 0 20px;
    font-size: 1rem;
}

.modal-field:focus {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}

.modal-footer {
    background: inherit;
    text-align: right;
    padding: 0 20px;
}

@media (max-width: 480px) {
    .modal {
        left: 90%;
        transition: all 1s ease;
    }

    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }

    .modal.active {
        left: 0;
        
    }

    .modal-field {
        width: 100%;
    }
}

